<div class="container-fluid">
  <div class="row justify-content-md-center" >
    <div class="col align-self-center">
<h1>WORLDPEDIA</h1>
<br>
<br>
<div class="row" >
<div class="col-sm-6 " >
<mat-card class="example-card" tabindex="0">
    <div class="relative">
  <a  [routerLink]="['/country/Asia']"><img mat-card-image src="assets/asia.jpeg" alt="Asia">
</a>
  </div>
  <mat-card-content>
  <h3 class="absolute-text"> Asia</h3>
  </mat-card-content>
</mat-card>
</div>
<div class="col-sm-6" >
<mat-card class="example-card">
    <div class="relative">
        <a  [routerLink]="['/country/Africa']">
    <img mat-card-image src="assets/africa.jpg" alt="Africa">
    </a>
    </div>
    <mat-card-content>
        <h3 class="absolute-text"> Africa</h3>
        </mat-card-content>
  </mat-card>
</div>
</div>
<div class="row">
<div class="col-sm-6" >
  <mat-card class="example-card">
      <div class="relative">
          <a  [routerLink]="['/country/merica']">
      <img mat-card-image src="assets/america.jpeg" alt="America">
      </a>
      </div>
      <mat-card-content>
          <h3 class="absolute-text"> America</h3>
          </mat-card-content>
    </mat-card>
   </div>
   <div class="col-sm-6" >
    <mat-card class="example-card">
        <div class="relative">
            <a  [routerLink]="['/country/Europe']">
        <img mat-card-image src="assets/europe.jpeg" alt="europe">
        </a>
        </div>
        <mat-card-content>
            <h3 class="absolute-text"> Europe</h3>
            </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-12" >
      <mat-card class="example-card ">
          <div class="relative ">
              <a  [routerLink]="['/country/Oceania']">
          <img mat-card-image src="assets/asia.jpeg" alt="Oceania">
         
          </a>
          </div>
          <mat-card-content>
              <h3 class="absolute-text a">Oceania</h3>
              </mat-card-content>
        </mat-card>
      </div>
    </div>
</div>
  </div>
</div>